extends ../layout

block content
	h3 Rules
	hr
	div.col-md-12
		h4 Update Rule
		div.col-md-6
			form(method="POST", action="/rules/update/#{id}")
				div.form-group
					label(for="name") Name:
					input.form-control(required="required",type="text", name="name", value="#{name}", readonly="readonly")				
				div.form-group
					label(for="rule") Callback Uri: 
					input.form-control(type="text",name="uri", required="required", value="#{uri}")				
				div.form-group
					label(for="name") Gateway Type:
					select#gateway_type.form-control(required="required",name="gateway_type")
						-each opt,i in gateway_types
							if opt.selected == "selected"
								option(value="#{opt._id}", selected="selected") #{opt.name}
							else
								option(value="#{opt._id}") #{opt.name}
				div.form-group
					label(for="sensor_type")
					select#sensor_type.form-control(name="sensor_type")
						-each opt,i in sensor_types
							if opt.selected == "selected"
								option(value="#{opt.name}", selected="selected") #{opt.name}
							else
								option(value="#{opt.name}") #{opt.name}
				div.col-md-offset-5
					input.btn.btn-success(required="required",type="submit", value="Update")
					input(type="hidden",name="app_id",value="#{app_id}")
		
block inPageScript
	script.
		$(document).ready(function(){
			$("#gateway_type").change(function(){
				var type = $("#gateway_type option:selected").val();
				$.get("/rules/sensortypes/"+type, function(data){
					var sensors = data;
					var opts = [];
					for(var sensor of sensors){
						opts.push('<option value="'+sensor+'">'+sensor+'</option>');
					}
					$("#sensor_type").html(opts.join(""));
				});
			});
		});
		