extends ../layout

block content
	div.col-md-12
		h4 Rules
		div.col-md-6
			table.table
				tr
					th Name
					//
						th Application Id
					th Uri
					th Gateway Type
					th Sensor Type 
					th  
				- each variable,i in rules
					tr
						td #{variable.name}
						//
							td #{variable.app_id}
						td #{variable.uri}										
						td #{names[variable.gateway_type_id]}
						td #{variable.sensor_type_id}										
						td
							a(href="/rules/delete/#{variable._id}") Delete						
						td
							a(href="/rules/update/#{variable._id}") Update						

		
block inPageScript
	script.
		
		