extends layout

block content
	input.form-control(type="hidden", style="width:200px",value="created_by praveen" )
	if user
		h3 Welcome, #{user.name}	
	hr
	div.row
		div.col-md-4
			h4 Sensor Types
			div.col-md-6
				table.table
					tr
						th Id
						th Name
						th Owner Id
						th  
					- each variable,i in sensor_types
						tr
							td #{variable._id}
							td #{variable.name}
							td #{variable.owner}
							td
								a(href="/sensortypes/delete/#{variable._id}") Delete
		div.col-md-2				
			a.btn.btn-primary(href="/sensortypes/add") Add
	div.row
		div.col-md-4
			h4 Gateway Types
			div.col-md-6
				table.table
					tr
						th ID 
						th Name
						th Owner Id						
						th 
					- each variable,i in gateway_types
						tr
							td #{variable._id}
							td #{variable.name}
							td #{variable.owner}							
							td
								a(href="/gatewaytypes/delete/#{variable._id}") Delete
		div.col-md-2				
			a.btn.btn-primary(href="/gatewaytypes/add") Add
	div.row
		div.col-md-4
			h4 Gateways		
			div.col-md-6
				table.table
					tr
						th Name
						//th Owner Id
						th Type
						th Sensors
						th Edit
						th Delete
					- each variable,i in gateway_instances
						tr
							td #{variable.name}
							//td #{variable.owner}
							td #{variable.gateway_type_id}
							td #{JSON.stringify(variable.sensor_data)}								
							td 
								a(href="/gateways/edit/#{variable._id}") Edit
							td
								a(href="/gateways/delete/#{variable._id}") Delete
		div.col-md-2				
			a.btn.btn-primary(href="/gateways/add") Add
			


		
block inPageScript
	script.
		