extends ../layout

block content
	div.col-md-12
		h4 Application Users
		hr
		div.col-md-8
			table.table
				tr
					th Name
					th Access Token
					th Assigned Gateways
					th  
					th  
				- each variable,i in apps
					tr
						td #{variable.name}
						td #{variable.access_token}
						td
							select.form-control
								- each variable2,j in variable.gateway_objects
									option #{variable2.name}
						td
							a(href="/applications/delete/#{variable._id}/users") Delete						
						td
							a(href="/applications/access/#{variable.access_token}") Edit Access	

		
block inPageScript
	script.
		
		